<h1> Invitations Envoyées</h1>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of futureFriends ; let i=index">
    <div class="avtar-container"><img class="avatar" [src]="getAvatarUrl(user.gender)"/></div>
    {{user.user_name | uppercase}} {{user.gender}} {{user.region}}
    <span class="text-success"> Invitation envoyée </span>
  </li>
</ul>
<!--
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th> Sender </th>
        <th> Reciever </th>
      </tr>
    </thead>
    <tbody *ngFor="let invitation of recievedInvitation; let i=index">
      <tr>
        <td>{{invitation._id}}</td>
        <td>{{invitation.senderId}}</td>
        <td>{{invitation.recieverId}}</td>
      </tr>
    </tbody>
    -->